[Unit]
Description=Meshtastic Weather Alerts
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=20
User=pi
WorkingDirectory=/home/pi/meshtastic-weather-alerts
ExecStart=/home/pi/meshtastic-weather-alerts/venv/bin/python3 /home/pi/meshtastic-weather-alerts/mesh-weather-alerts.py

[Install]
WantedBy=multi-user.target
